@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Cairo:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
  --color-primary: #7e2553;
  --color-secondary: #d9d9d9;
}
body {
  font-family: "Poppins", sans-serif;
}

html[dir="rtl"] body {
  font-family: "Cairo", sans-serif;
  line-height: 1.9;
  letter-spacing: 0;
}
html[dir="rtl"] {
  font-feature-settings: "lnum";
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(99, 102, 241, 0.4);
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
