@import "tailwindcss";
@theme {
  --color-primary: #f2ae2e;
  --color-secondary: #d9d9d9;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

* {
  font-family: "Poppins", sans-serif;
}
